/* Cтили, заданные по умолчанию */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #335890;
  font-size: 22px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}

.container {
  max-width: 1140px !important;
  min-width: auto !important;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}

cite {
  font-style: normal;
}

/* // Cтили, заданные по умолчанию */

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section__row {
  margin-bottom: 40px;
}

.header {
  padding: 60px 0;
  background-color: #6039aa;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 1;
}

section {
  margin-bottom: 150px;
}

section:last-child {
  margin-bottom: 0;
}

.heading-main__span {
  font-size: 24px;
}

.main {
  padding: 120px 0;
}

.section__title {
  margin-bottom: 70px;
  text-align: center;
  font-size: 36px;
}

.section__img {
  display: block;
  width: 400px;
}

.section__desc {
  width: 630px;
}

.section__text {
  margin-bottom: 20px;
}

.section__text:last-child {
  margin-bottom: 0;
}

strong {
  color: #6039aa;
  font-weight: 900;
}

.section__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.section__link:hover {
  -webkit-animation: scale 0.5s 1;
  animation: scale 0.5s 1;
}

.link__text {
  margin-right: 75px;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.footer {
  padding: 70px 0;
  background-color: #335890;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer__link {
  display: inline;
  position: relative;
  padding: 10px 0;
  margin-bottom: 30px;
  color: #fff;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__link:visited {
  color: #fff;
}

.footer__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #335890;
  z-index: 2;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.footer__link:hover {
  color: #fff;
}

.footer__link:hover::before {
  width: 100%;
  background-color: #fff;
}
